<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2">
<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, iste quo. Aliquam aperiam blanditiis consectetur,
    consequatur deserunt dolorum ducimus ea eaque est eveniet facere facilis fugiat hic impedit ipsam, itaque magnam
    obcaecati odio porro praesentium quisquam repudiandae rerum sint voluptas voluptates. Atque modi officia voluptatum!
    Adipisci assumenda et libero officiis.
  </p>
</section>
