<h1 class="text-3xl">Sobre la aplicacion</h1>
<hr class="my-2">
<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias animi blanditiis culpa distinctio ducimus
    eius est eum explicabo illum inventore itaque, iure molestias nam perferendis provident quibusdam quod repellat
    repudiandae temporibus? Accusantium alias aliquid beatae laboriosam non quae repellat ullam. Animi maiores quo
    recusandae temporibus ut? Ab accusantium ea eos eum fugiat laborum quidem vero. Dignissimos dolorum et fugiat,
    maiores minus odio quia quo tempora veniam voluptate?
  </p>
</section>
